 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     outline: 0;
 }

 a,
 a:hover {
     text-decoration: none;
     color: #000;
 }

 ul,
 ol {
     list-style-type: none;
 }

 img {
     vertical-align: middle;
 }

 body {
     font-family: 'Rubik', sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 li,
 a,
 img,
 input,
 label,
 form,
 .navbar,
 button,
 .btn,
 textarea,
 span,
 section,
 div,
 ul,
 ol,
 li,
 .navbar-brand {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
 }

 /* header start */
 .header_part {
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     width: 100%;
     z-index: 999;
 }

 .header_part .navbar-brand img {
     padding: 25px 0px;
 }

 .menu {}

 .menu .nav-item .nav-link {
     padding: 50px 15px;
     color: #b19cb2;
     font-size: 18px;
     text-transform: uppercase;
     transition: 0.4s;
     font-weight: 400;
 }

 .menu .nav-item.active .nav-link,
 .menu .nav-item:hover .nav-link {
     color: #ab6db0;
 }

 .menu .nav-item .nav-link.extra_btn {
     padding: 10px 40px;
     border-radius: 35px;
     background: #ab6db0;
     color: #2c1c25;
     font-size: 20px;
     text-transform: capitalize;
     margin-left: 60px;
     margin-top: 40px;
 }

 /* header end */

 /* banner_part start */
 .banner_part {
     background: url(../images/banner/banner.png);
     background-position: 30% 100%;
     background-repeat: no-repeat;
     background-size: cover;
     transform: scale(1);
     padding: 270px 0px 160px;
     position: relative;
 }

 .banner_item h1 {
     font-size: 56px;
     font-weight: 700;
     text-transform: capitalize;
     padding-bottom: 30px;
     color: #2c3754;
 }

 .banner_item p {
     font-size: 16px;
     font-weight: 400;
     line-height: 1.6;
     padding-bottom: 50px;
     color: #2c3754;
 }

 .banner_item a.btn {
     padding: 10px 40px;
     border-radius: 35px;
     background: #ab6db0;
     color: #2c1c25;
     font-size: 20px;
     text-transform: capitalize;
     box-shadow: 0 0 15px rgba(171, 109, 176, 0.9);
     margin: 15px;
 }

 /* banner_part end */

 /* working_progress_part start */
 .working_progress_part {
     padding: 90px 0px;
 }
.common_heading{
    padding-bottom: 30px;
}
.common_heading h6{
    color: #ab6db0;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}
.common_heading h3{
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.working_progress_item{
    padding: 30px 15px;
    margin-top: 30px;
    background: #ab6db0;
    border-radius: 5px;
}
.working_progress_item h5{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    background: #952c9e;
    font-weight: 700;
    margin-top: 15px;
}
.working_progress_item h4{
    color: #ffffff;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 10px;
}
.working_progress_item p{
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}
 /* working_progress_part end */

/* about_part start */
.about_part{
    background: #f2e9f3;
    padding: 30px 0px 60px;
    border-radius: 80px 0px 80px 0px;
}
.about_img{
    margin-top: 30px;
    position: relative;
}
.about_img_content{
    position: absolute;
    right: 0;
    top: 20%;
    padding: 10px;
    border-radius: 5px;
    background: #fff;

}
.about_img_content h5{
    color:#952c9e;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}
.about_content{
    margin-top: 30px;
}
.about_content h6{
    color: #ab6db0;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.about_content h3{
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: capitalize;
}
 .about_content p{
    color: #444444;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
     padding-bottom: 25px;
}
 .about_content a.btn {
     padding: 10px 40px;
     border-radius: 35px;
     background: #ab6db0;
     color: #2c1c25;
     font-size: 20px;
     text-transform: capitalize;
     box-shadow: 0 0 15px rgba(171, 109, 176, 0.9);
     margin: 15px;
 }
/* about_part end */

/* our_service_part start */
.our_service_part{
    padding: 90px 0px;
    background: #fafafa;
}
.our_service_item{
    margin-top: 30px;
    background: #ffffff;
    padding: 50px 25px;
}
.our_service_item_img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgba(167, 27, 178, 0.65);
    text-align: center;
    transition: 0.4s;
    margin-bottom: 30px;
}
.our_service_item:hover .our_service_item_img{
    background: rgba(167, 27, 178, 1);
}

.our_service_item_img i{
    line-height: 70px;
    font-size: 35px;
    color: #a71bb2;
     transition: 0.4s;
}
.our_service_item:hover .our_service_item_img i{
   color: #fff;
}

.our_service_item h4{
    color: #222222;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 10px;
    transition: 0.4s;
}
.our_service_item p{
    color: #444444;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    padding-bottom: 25px;
    transition: 0.4s;
}
.our_service_item a{
    color: #a2a2a2;
    font-weight: 24px;
    transition: 0.4s;
}
.our_service_item:hover i,
.our_service_item:hover h4{
    color: #a71bb2;
}
/* our_service_part end */

/* portfolio_part start */
.portfolio_part{
    background: #f2e9f3;
    border-radius: 50px 0px 50px 0px;
    padding: 90px 0px;
}
.gly_item{
    margin-top: 30px;
}
.gly_item_img{
    position: relative;
    overflow: hidden;
}
.gly_item_img_overlay{
    position: absolute;
    left: -90%;
    bottom: 5%;
    height: 50px;
    width: 90%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.81);
    background: #ffffff;
    padding: 0px 10px;
    opacity: 0;
    transition: 0.4s;
}
.gly_item_img:hover .gly_item_img_overlay{
    left: 5%;
    opacity: 1;
}
.gly_item_img_overlay h5{
    line-height: 50px;
    color: #222222;
    font-size: 20px;
}
.gly_item_img_overlay h5 a{
    float: right;
}
.gly_item_img_overlay h5 a i{
    color: #a71bb2;
    text-shadow: 0 0 5px rgba(167, 27, 178, 0.71);
}
.extra_btn2{
    padding-top: 50px;
}
.extra_btn2 a.btn{
     padding: 10px 40px;
     border-radius: 35px;
     background: #ab6db0;
     color: #2c1c25;
     font-size: 20px;
     text-transform: capitalize;
     box-shadow: 0 0 15px rgba(171, 109, 176, 0.9);
     margin: 15px;
}
/* portfolio_part end */

/* team_part start */
.team_part{
    padding: 90px 0px;
}
.team_member{
    margin-top: 30px;
}
.team_member_img{
    position: relative;
    overflow: hidden;
}
.team_member_img_overlay{
    position: absolute;
    left: 5%;
    top: -90%;
    width: 90%;
    height: 35%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.81);
    background: #ffffff;
    padding: 15px 10px;
    opacity: 0;
    transition: 0.8s;
}
.team_member_img:hover .team_member_img_overlay{
    top: 60%;
    opacity: 1;
}
.team_member_img_overlay h5{
    color: #222222;
    font-weight: 700;
    padding-bottom: 5px;
}
.team_member_img_overlay p{
    color: #444444;
    padding-bottom: 10px;
}
.team_member_img_overlay ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.team_member_img_overlay ul li{
    float: left;
}
.team_member_img_overlay ul li a{
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    color: #222222;
    transition: 0.4s;
}
.team_member_img_overlay ul li:hover a{
    color: #a71bb2;
}

.video_part{
    padding-top: 60px;
}
.video_part_img{
    padding: 30px;
    border: 2px solid #945a99;
    border-radius: 15px;
}
.video_part_img_img{
    box-shadow: 0 0 25px rgba(148, 90, 153, 0.86);
    position: relative;
}
.overlay_video_part_img_img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.overlay_video_part_img_img a{
    display:inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.overlay_video_part_img_img a i{
    line-height: 100px;
    font-size: 50px;
    color: #945a99;
}
/* team_part end */

/* testomonial_part start */
.testomonial_part{
    padding: 0px 0px 90px;
    position: relative;
}
.test_slide_item{
    margin-top: 30px;
}
.test_slide_item_img{
    position:relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(148, 90, 153, 0.86);
}
.overly_test_slide_item_img{
    position: absolute;
    right: -20px;
    bottom: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    z-index: 99;
    text-align: center;
     box-shadow: 0 0 5px rgba(148, 90, 153, 0.86);
}
.overly_test_slide_item_img img{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
.test_slide_item h4{
    color: #000;
    padding-bottom: 5px;
    padding-top: 20px;
}
.test_slide_item h6{
    color: #222222;
    padding-bottom: 10px;
}
.test_slide_item p{
    color: #444444;
    padding-bottom: 50px;
    padding: 0px 70px 50px;
}
.testomonial_part .owl-carousel .owl-item img {
	display: block;
	width: 40%;
}
.testomonial_part .owl-carousel .owl-dots.disabled, .testomonial_part .owl-carousel .owl-nav.disabled {
	display: block;
}
.arrow_left1{
    position: absolute;
    left: 47%;
    bottom: 0;
    font-size: 22px;
    color: #222222;
    transition: 0.4s;
}
.arrow_right1{
     position: absolute;
    right: 47%;
    bottom: 0;
    font-size: 22px;
    color: #222222;
    transition: 0.4s;
}
.arrow_right1:hover,
.arrow_left1:hover{
    color: #941b9e;
}

/* testomonial_part end */

/* message_part */
.message_part{
  background: #ab6db0;
  padding: 60px 0px;
}
.message_content h2{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.message_content a.btn{
    padding: 10px 40px;
    border-radius: 35px;
    background:rgb(255, 255, 255);
    color:  #ab6db0;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;
}

/* pakage_part start */
.pakage_part{
    padding: 90px 0px;
}
.pakage_item{
    margin-top: 30px;
    background: #f2e9f3;
    padding: 60px 15px;
}
.pakage_item h3{
    font-size: 24px;
    font-weight: 700;
    color: #ab6db0;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.pakage_item h5{
    padding: 10px 20px;
    border-radius: 35px;
    color:rgb(255, 255, 255);
    background:  #ab6db0;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 400;
}
.pakage_item h5 span{
    font-weight: 700;
    font-size: 24px;
}
.pakage_item ul li{
  padding: 3px 0px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
}
.pakage_item a.btn{
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 35px;
    color:#2c1c25;
    background:  #ab6db0;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 400;
}
.pakage_item_sp{
    background: #ab6db0;
}
.pakage_item_sp h5{
    background: #fff;
    color: #ab6db0;
}

.pakage_item_sp h3{
    color: #fff;
}
.pakage_item_sp ul li{
    color: #fff;
}
.pakage_item_sp a.btn{
    background: #fff;
}
/* pakage_part end */

/* footer start  */
footer{
    background: #151618;
    padding-top: 60px;
}
.content_footer a img{
 padding-bottom: 40px;
}
.content_footer ul .nav-item .nav-link{
    color: #343537;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear 0.4ms;
    padding: 10px 15px;
}
.content_footer ul .nav-item:hover .nav-link{
    color: #fff;
}
.content_footer ul li a i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #303133;
    color: #737375;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    transition: 0.4ms;
}
.content_footer ul li a i:hover{
    background: #ab6db0;
    color: #fff;
}
.bor_1px{
    margin: 50px 0px 25px;
    border-top: 1px solid #303133;
}
.copy_right p{
    color: #444549;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 25px;
}
.copy_right p a{
    font-weight: 500;
    font-size: 15px;
    color: #ab6db0;
}
/* footer end  */